<h1 class="text-center text-2xl py-2">Todos los libros</h1>
<div id="containerSearchOptions" class="sm:flex sm:justify-center sm:gap-5">
  <div class="py-2">
    <label for="selectCategory" class="mr-2">Género</label>
    <select
      id="selectCategory"
      (change)="filterCategory($event)"
      class="text-black"
    >
      <option value="0">Todos</option>
      <option
        *ngFor="let category of categories | keyvalue"
        [value]="category.key"
      >
        {{ category.value }}
      </option>
    </select>
  </div>
  <div class="py-2">
    <label for="minPages" class="mr-2">Mín. págs.</label>
    <input
      class="w-[60px] sm:w-[80px] rounded-sm text-black px-2 mr-2"
      type="number"
      id="minPages"
      [(ngModel)]="sliderValue"
      (change)="updateSliderValue()"
      aria-label="Número mínimo de páginas"
    />
    <input
      type="range"
      [(ngModel)]="sliderValue"
      min="0"
      max="2000"
      (input)="updateSliderValue()"
      aria-label="Número mínimo de páginas"
    />
  </div>
</div>
<h2 *ngIf="books.length === 0">No hay libros</h2>
<div
  id="allBooksContainer"
  class="flex flex-col gap-y-5 py-5 items-center sm:grid sm:grid-cols-[repeat(auto-fit,minmax(100px,200px))] sm:gap-5 sm:justify-center"
>
  <app-book-item
    class="w-fit sm:h-full"
    *ngFor="let bookData of books; index as i"
    id="{{ i }}"
    [book]="bookData.book"
    [isInWatchlist]="bookData.isInWatchlist"
    [isInWatchlistComponent]="false"
    (clickEvent)="changeStateBook(i, $event)"
  ></app-book-item>
</div>
