<div
  class="flex gap-x-1 min-w-[300px] max-w-[500px] bg-zinc-900 rounded-sm"
  [ngClass]="
    isInWatchlistComponent
      ? ''
      : 'sm:flex-col sm:min-w-[100px] sm:max-w-[200px]'
  "
>
  <div
    class="h-auto w-[30%] relative"
    [ngClass]="isInWatchlistComponent ? '' : 'sm:w-full sm:h-[290px]'"
  >
    <img
      class="h-full w-auto object-cover"
      [ngClass]="{
        'sm:w-full': !isInWatchlistComponent,
        grayscale: isInWatchlist && !isInWatchlistComponent
      }"
      src="{{ book.cover }}"
      alt="bookImage"
    />
  </div>
  <button
    *ngIf="!isInWatchlist"
    (click)="onClick(true)"
    class="rounded-lg h-[25px] absolute m-2 grayscale hover:grayscale-0"
  >
    <img src="./assets/addIcon.png" alt="AddButtonImage" class="h-full" />
  </button>
  <button
    *ngIf="isInWatchlist"
    (click)="onClick(false)"
    class="rounded-lg h-[25px] absolute m-2 grayscale hover:grayscale-0"
  >
    <img src="./assets/removeIcon.png" alt="AddButtonImage" class="h-full" />
  </button>
  <div
    class="w-[70%] p-3 flex flex-col gap-y-1 justify-evenly"
    [ngClass]="isInWatchlistComponent ? '' : 'sm:w-full'"
  >
    <h2
      id="titleBook"
      [ngClass]="isInWatchlistComponent ? '' : 'sm:text-center'"
    >
      {{ book.title }}
    </h2>
    <div class="flex justify-between">
      <h2 id="authorBook">
        {{ book.author.name }}
      </h2>
      <h2 id="authorYear">
        {{ book.year }}
      </h2>
    </div>
    <h2
      id="synopsisBook"
      class="line-clamp-2"
      [ngClass]="isInWatchlistComponent ? '' : 'sm:hidden'"
    >
      {{ book.synopsis }}
    </h2>
  </div>
</div>
