<div class="bg-zinc-800 text-white px-4 min-h-[100vh] pb-16 sm:px-0 lg:flex">
  <app-books
    class="lg:w-[70%] lg:block"
    [ngClass]="showAllBooks ? 'block' : 'hidden'"
  ></app-books>
  <app-watchlist
    class="lg:w-[30%] lg:block lg:bg-zinc-900 lg:px-4"
    [ngClass]="showAllBooks ? 'hidden' : 'block'"
  ></app-watchlist>
</div>
<div
  id="buttons"
  class="w-full fixed bg-sky-950 text-white bottom-0 grid grid-cols-2 lg:hidden"
>
  <button
    (click)="changeShowAllBooks(true)"
    class="py-5 hover:bg-sky-700"
    [ngClass]="showAllBooks ? 'bg-sky-700' : ''"
  >
    Libros
  </button>
  <button
    (click)="changeShowAllBooks(false)"
    class="py-5 hover:bg-sky-700"
    [ngClass]="showAllBooks ? '' : 'bg-sky-700'"
  >
    Watchlist
  </button>
</div>
